<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/profile.css">
    <title>SHIFT</title>
    <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
   </style>
</head>
<body>
   <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
      <div class="card p-4"> 
          <div class="image d-flex flex-column justify-content-center align-items-center"> 
              <button class="btn btn-secondary">
                <img src="{{ url_for('static', filename='profilePicture.png') }}" alt="Profile Picture" height="200" width="200"/>
              </button>
              
              <!-- Display User Name -->
              <div class="mt-3"><strong>User:</strong> {{ name }}</div>
              <!-- Display Email -->
              <div><strong>Email:</strong> {{ email }}</div>
              <!-- Display Position -->
              <div><strong>Position:</strong> {{ position }}</div>
              
              <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                  <!-- Buttons -->
                  <div class="d-flex mt-2"> 
                      <button class="btn1 btn-dark" id="edit-profile-button">Edit Profile</button>
                      <script>
                        document.getElementById('edit-profile-button').onclick = function() {
                            window.location.href = '/edit_profile';
                        };
                      </script>
                  </div> 
                  <div class="d-flex mt-2"> 
                    <button class="btn1 btn-dark" id="work-schedule-button">Work Schedule</button>
                    <script>
                      document.getElementById('work-schedule-button').onclick = function() {
                          window.location.href = '/work_schedule';
                      };
                    </script>
                  </div>
                  <div class="d-flex mt-2">
                    <!-- Conditional button based on the user's position -->
                    {% if position == "Manager" %}
                        <button class="btn1 btn-dark" id="view-time-off-requests-button">View Time Off Requests</button>
                        <script>
                            document.getElementById('view-time-off-requests-button').onclick = function() {
                                window.location.href = '/manager_request_view';
                            };
                        </script>
                    {% else %}
                        <button class="btn1 btn-dark" id="request-time-off-button">Request Time Off</button>
                        <script>
                            document.getElementById('request-time-off-button').onclick = function() {
                                window.location.href = '/request_time_off';
                            };
                        </script>
                    {% endif %}
                  </div>                
                  <!-- View Employees Button (Visible only to Managers) -->
                  {% if position == "Manager" %}
                  <div class="d-flex mt-2">
                      <button class="btn1 btn-dark" id="view-employees-button">View Employees</button>
                      <script>
                          document.getElementById('view-employees-button').onclick = function() {
                              window.location.href = '/employee_list';
                          };
                      </script>
                  </div>
                  {% endif %}

                  <div class="d-flex mt-2"> 
                    <button class="btn1 btn-dark" id="logout-button">Logout</button>
                    <script>
                      document.getElementById('logout-button').onclick = function() {
                          window.location.href = '/logout';
                      };
                    </script>
                  </div>
              </div> 
          </div> 
      </div>
  </div>
  </body>
  </html>
