<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/profile.css">
    <title>{{ SHIFT }}</title>
</head>
<html>
   <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
   </style>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> <div class="card p-4"> 
<div class=" image d-flex flex-column justify-content-center align-items-center"> 
<button class="btn btn-secondary"> <img src="static/profilepic.webp" height="200" width="200" /></button>
<div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
<span class="name mt-3">Worker Name</span><div class="d-flex flex-row justify-content-center align-items-center gap-2"></div>
<span class="idd1">Work ID</span><div class="d-flex flex-row justify-content-center align-items-center gap-2"></div>
<span class="idd1">Position</span> <span><i class="fa fa-copy"></i></span> </div> 
<div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
<div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div> 
<div class=" d-flex mt-2"> <button class="btn1 btn-dark">Work Schedule</button> </div> 
<div class=" d-flex mt-2"> <button class="btn1 btn-dark">Request Time Off</button> </div> 
</div> </div> </div></div>
</body>
</html>