<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Schedule</title>
</head>
<body>
<h1> Work Schedule </h1>



<form method="POST" action="/add_shift">

  <label for="shift_name">Employee:</label>
  <input type="text" id="shift_name" name="shift_name" required>

  <label for="day">Day:</label>
  <select id="day" name="day" required>
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
  </select>

  <label for="start_time">Start Time:</label>
  <select id="day" name="day" required>
    <option value="12:00 AM">12:00 AM</option>
    <option value="1:00 AM">12:00 AM</option>
    <option value="2:00 AM">12:00 AM</option>
    <option value="3:00 AM">12:00 AM</option>
    <option value="4:00 AM">12:00 AM</option>
    <option value="5:00 AM">12:00 AM</option>
    <option value="6:00 AM">12:00 AM</option>
    <option value="7:00 AM">12:00 AM</option>
    <option value="8:00 AM">12:00 AM</option>
    <option value="9:00 AM">12:00 AM</option>
    <option value="10:00 AM">12:00 AM</option>
    <option value="11:00 AM">12:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="5:00 PM">5:00 PM</option>
    <option value="6:00 PM">6:00 PM</option>
    <option value="7:00 PM">7:00 PM</option>
    <option value="8:00 PM">8:00 PM</option>
    <option value="9:00 PM">9:00 PM</option>
    <option value="10:00 PM">10:00 PM</option>
    <option value="11:00 PM">11:00 PM</option>
    </select>

  <label for="end_time">End Time:</label>
  <select id="day" name="day" required>
    <option value="12:00 AM">12:00 AM</option>
    <option value="1:00 AM">12:00 AM</option>
    <option value="2:00 AM">12:00 AM</option>
    <option value="3:00 AM">12:00 AM</option>
    <option value="4:00 AM">12:00 AM</option>
    <option value="5:00 AM">12:00 AM</option>
    <option value="6:00 AM">12:00 AM</option>
    <option value="7:00 AM">12:00 AM</option>
    <option value="8:00 AM">12:00 AM</option>
    <option value="9:00 AM">12:00 AM</option>
    <option value="10:00 AM">12:00 AM</option>
    <option value="11:00 AM">12:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="5:00 PM">5:00 PM</option>
    <option value="6:00 PM">6:00 PM</option>
    <option value="7:00 PM">7:00 PM</option>
    <option value="8:00 PM">8:00 PM</option>
    <option value="9:00 PM">9:00 PM</option>
    <option value="10:00 PM">10:00 PM</option>
    <option value="11:00 PM">11:00 PM</option>
    </select>

  <button type="submit">Add Shift</button>
</form>

<form method="POST" action="/remove_shift">

  <label for="shift_name">Employee:</label>
  <input type="text" id="shift_name" name="shift_name" required>

  <label for="day_remove">Day:</label>
  <select id="day_remove" name="day" required>
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
  </select>

  <label for="start_time_remove">Start Time:</label>
  <select id="day" name="day" required>
    <option value="12:00 AM">12:00 AM</option>
    <option value="1:00 AM">12:00 AM</option>
    <option value="2:00 AM">12:00 AM</option>
    <option value="3:00 AM">12:00 AM</option>
    <option value="4:00 AM">12:00 AM</option>
    <option value="5:00 AM">12:00 AM</option>
    <option value="6:00 AM">12:00 AM</option>
    <option value="7:00 AM">12:00 AM</option>
    <option value="8:00 AM">12:00 AM</option>
    <option value="9:00 AM">12:00 AM</option>
    <option value="10:00 AM">12:00 AM</option>
    <option value="11:00 AM">12:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="5:00 PM">5:00 PM</option>
    <option value="6:00 PM">6:00 PM</option>
    <option value="7:00 PM">7:00 PM</option>
    <option value="8:00 PM">8:00 PM</option>
    <option value="9:00 PM">9:00 PM</option>
    <option value="10:00 PM">10:00 PM</option>
    <option value="11:00 PM">11:00 PM</option>
    </select>


  <label for="end_time_remove">End Time:</label>
  <select id="day" name="day" required>
    <option value="12:00 AM">12:00 AM</option>
    <option value="1:00 AM">12:00 AM</option>
    <option value="2:00 AM">12:00 AM</option>
    <option value="3:00 AM">12:00 AM</option>
    <option value="4:00 AM">12:00 AM</option>
    <option value="5:00 AM">12:00 AM</option>
    <option value="6:00 AM">12:00 AM</option>
    <option value="7:00 AM">12:00 AM</option>
    <option value="8:00 AM">12:00 AM</option>
    <option value="9:00 AM">12:00 AM</option>
    <option value="10:00 AM">12:00 AM</option>
    <option value="11:00 AM">12:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="5:00 PM">5:00 PM</option>
    <option value="6:00 PM">6:00 PM</option>
    <option value="7:00 PM">7:00 PM</option>
    <option value="8:00 PM">8:00 PM</option>
    <option value="9:00 PM">9:00 PM</option>
    <option value="10:00 PM">10:00 PM</option>
    <option value="11:00 PM">11:00 PM</option>
    </select>

  <button type="submit">Remove Shift</button>
</form>


</form>
<button type="update Schedule">Update Schedule</button>
</form>


  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <!-- Rows go here -->
      <tr>
        <td>12:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>1:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>2:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>3:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>4:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>4:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>5:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>6:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>7:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>8:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>9:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>10:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>11:00 AM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>12:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>1:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>2:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>3:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>4:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>5:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>6:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>7:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>8:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>9:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>10:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>11:00 PM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  
  </table>

</body>
</html>
