<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/profile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Schedule</title>
</head>
<body>
    <h1>Work Schedule</h1>
    <ul>
        {% for filename, file_data in uploaded_files.items() %}
            <li>
                <strong>{{ filename }}</strong> - Scheduled for {{ file_data.schedule_date }}
                <a href="{{ url_for('view_file', filename=filename) }}" target="_blank">View File</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
