<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>SHIFT</title>
	<style>
        /* Style for error messages */
        .flash-error {
            color: red !important;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h2 style="color: #000000">Welcome to SHIFT</h2>
    <h2 style="color: #000000">Login or Sign Up to access your work account!</h2>

	<!-- Display Flash Messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="flash-{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}



    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <!-- Sign In Form -->
                <form method="POST" action="/" class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In" name="action">
                    </div>
                    <!-- ... Other elements ... -->
                </form>

                <!-- Sign Up Form -->
                <form method="POST" action="/" class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="text" class="input" name="email">
                    </div>
                    <div class="group">
                        <input id="manager" type="checkbox" name="is_manager"><label for="manager">Are you a manager?</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up" name="action">
                    </div>
                    <!-- ... Other elements ... -->
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
